$colorFuentes: #ffffff;

body {
    color: $colorFuentes;
    #secundaria {
        color: black;
        display: flex;
        justify-content: center;
        font-size: 16px;
        margin: 0% 46% 2%;
        padding: 1vh;
        background-color: #00eeff;
        border-radius: 4vh;
        box-shadow: 1vh 1vh 2vh 0.5vh rgba(0, 0, 0, 0.774);
    }
    #pie2 {
        font-size: 4vh;
        margin-left: 45vw;
        margin-right: 45vw;
        margin-top: 26.5vh;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 100%;
        padding: 0.2rem;
        background-color: #08f89cad;
        border-radius: 5rem;
        box-shadow: 0.2rem 0.2rem 0.8rem 0.5rem rgba(0, 0, 0, 0.774);
    }
}