#figura {
    width: 180px; height: 150px;
    position: relative;
    left: -680px;
    top: 15px
}

h2 {
    font-size: 20px;
    line-height: 24px;
}

span {
    color: #ffffff7c;
}

li {
    color: #ffffff7c;
}

.margen {
    margin-left: 87px;
}

header {
    text-align: center;
    background-color: #0F1021;
    background-image: url("/Root/Img/Katana.png");
    background-size: cover;
    background-position: center -500px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body {
    background-color: #0F1021
} 

.titulos {
    background-color: #0848f87c;
    color: #ffffff7c;
}

#contenedor {
    margin: 5rem;
}

.fechas {
    font-weight: bold;
    color: #ffffff7c;
}

.datos {
    font-weight: bold;
    font-style: italic;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #0848f87c;
    color: white;
}

#margen-footer {
    margin: 2px;
}

footer img {
    margin: 0.5rem;
  }

.interlineado { 
    font-size: 16px;
    line-height: 22px;
}

section {
    text-align: center;
    color: rgb(235, 252, 0);
    font-size: 30px;
}

.secundaria {
    margin-left: 100vh;
    color: rgba(111, 0, 255, 0.596);
}