/* Estructura base */
@font-face {
    font-family: 'Cutive Mono';
    font-style: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/cutivemono/v9/m8JWjfRfY7WVjVi2E-K9H6RMTm6o39ucNvc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
body {
    font-family: 'Cutive Mono', monospace;
}
a {
    text-decoration: none;
}
/* Fin de estructura */

/* Encabezado */
header {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}
#perfil {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    border: 0.2rem solid rgb(255, 255, 255);
    margin: 3%;
}
h1 {
    background-color: rgba(255, 255, 255, 0.308);
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
}
/* Fin de encabezado */

/* Cuerpo */
/* Seccion principal */
#contenedor {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.secciones {
    padding: 2%;
    text-align: center;
}
/* Fin de seccion */

/* Redes */
#redes {
    align-self: center;
    margin: 1rem;
}
.contacto {
    color: white;
    font-size: 2rem;
    padding: 0.5rem;
}
.contacto:hover {
    color: #FFD700;
    padding: 1rem;
}
#ig {
    background-color: #e95950;
}
#fb {
    background-color: #3b5998;
}
#tw {
    background-color: #00acee;
}
#in {
    background-color: #0e76a8;
}
#gh {
    background-color: rgb(0, 0, 0);
}
/* Fin de redes */

/* Boton con link */
#sobreMi {
    text-align: center;
    color: white;
}
button {
    background-color: black;
    padding: 0.5rem;
    margin: 2vh 41vw;
    border-radius: 1rem;
}
button #sobreMi:hover {
    color: #FFD700;
}
/* Fin del boton */

/* Pie de pagina */
footer {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    color: white;
    font-size: 0.9rem;
}
#copyright {
    padding: 0.5rem;
}
#nick {
    color: rgb(128, 230, 243);
}
#nick:hover {
    color: #FFD700;
}
/* Fin de pie de pagina */