@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vu_SeW-AJi8SJQtQ4Y.woff) format('woff');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/bebasneue/v2/JTUSjIg69CK48gW7PXoo9WdhyyTh89ZNpQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

a {
    text-decoration: none;
} 

body{
    font-family: 'Roboto Mono';
}

.cabecera {
    text-align: center;
    background-color: #0F1021;
    background-image: url("../Img/Katana.png");
    background-size: cover;
    background-position: center -60vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-top: -7.5vh;
    height: 35vh;
    position: relative
}

#figura {
    width: 180px; height: 150px;
    position: absolute;
    left: 17vh;
    top: 6vh;
}

h1 {
    position: relative;
    width: 100%;
    top: 28.6vh;
    background-color: #0848f87c;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
}

h2 {
    font-size: 22px;
    background-color: #0848f87c;
}

.cuerpo {
    background-color: #0F1021;
    background-image: url("../Img/pixeles.jpeg");
    background-repeat: repeat-y;
    background-size: cover;
} 

#contenedor {
    margin: 8rem;
    color: #ffffff;
}

.datos {
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
}

.segundaLinea {
    position: relative;
    left: 17.5vh
}

#pie {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #0848f87c;
    color: white;
    margin-bottom: -1vh;
}

.espacio {
    padding-right: 2vh;
}

#margen-footer {
    padding-left: 1vh;
    padding-right: 1vh;
}

footer img {
    margin: 0.4rem;
}

.secundaria {
    color: black;
    position: absolute;
    bottom: 8vh;
    left: 95vh;
    font-size: 16px;
    padding: 1vh;
    background-color: #00eeff;
    border-radius: 4vh;
    box-shadow: 1vh 1vh 2vh 0.5vh rgba(0, 0, 0, 0.774);
}

/* SOBRE MI */

.cuerpo2 {
    background-image: url("../Img/Gojo.jpg");
    background-repeat: no-repeat;
    background-position: center top;
} 

.cabecera2 {
    font-size: 10vh;
    color: #080cf8;
    position: fixed;
    left: 70vh;
    top: -10vh;
}

#main {
    font-size: 4vh;
    color: #080cf8;
    position: absolute;
    left: 87vh;
    top: 30vh
}

#pie2 {
    font-size: 4vh;
    position: absolute;
    top: 90vh;
    left: 95vh;
    padding: 1vh;
    background-color: #08f89caf;
    border-radius: 4vh;
    box-shadow: 1vh 1vh 2vh 0.5vh rgba(0, 0, 0, 0.774);
}
